.register-container {
  width: 60%;
  max-width: 600px;
  border: 1px solid #ccc;
  background: #fafafa;
  box-shadow: 0px 0px 5px 1px #eee;
  background: url("../../../assets/images/board-game.jpg");
  background-size: cover;

  .form-container {
    padding: 20px;
    background: #f1f1f1eb;
  }

  .header {
    font-size: 32px;
    text-align: center;
    margin-bottom: 5px;
  }

  .sub-header {
    height: 1px;
    background: #aaa;
    width: 40%;
    margin: auto;
  }

  .instruction {
    margin: 10px 0 20px 0;
    text-align: center;
    color: #888;
  }

  form {
  }

  .button-footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .btn-login {
      width: 50%;
    }

    .new-user {
      font-size: 14px;
    }
  }
}
