body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}


html, body {
  width: 100%;
  height: 100%;

  #root {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .toast {
    color: white !important;
    padding: 0 50px;
    border-radius: 5px !important;
  }
}

.form-group {
  label {
    &.required {
      &:after {
        content: '*';
        color: red;
        margin-left: 2px;
      }
    }
  }
}
